/* ============ reset ============ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* ============ global ============ */
:root {
  --black: #121217;
  --d-gray: #30343f;
  --gray: #95979f;
  --silver: #c8c9cf;
  --white: #fafaff;
  --l-blue: #bad6ff;
  --blue: #96aeda;
  --d-blue: #273469;
  --navy: #1e2749;
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* ============ header ============ */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
}

.logo {
  display: flex;
  gap: 10px;
}

.logoImg {
  width: 50px;
  height: 50px;
  background-image: url("../img/parachute.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  filter: drop-shadow(2px 2px 4px gray);
}

.logoText {
  height: 40px;
  font-size: 40px;
}

.settings {
  display: flex;
  gap: 35px;
}

.gearIcon {
  display: none;
}

#settingsBtn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-image: url("../img/cog.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 70px;
}

.settingText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 60px;
}

.settingText.mode {
  width: 70px;
}

.settingText p {
  font-size: 14px;
}

.settingToggle {
  height: 30px;
  width: 52px;
  border-radius: 15px;
  background-image: url("../img/toggle-switch-off.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.settingToggle.active {
  background-image: url("../img/toggle-switch.svg");
}

.lightMode {
  height: 25px;
  width: 25px;
  background-image: url("../img/weather-sunny.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}

.darkMode {
  height: 25px;
  width: 25px;
  background-image: url("../img/weather-night.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}

/* ============ nav ============ */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchForm {
  width: 60%;
  display: flex;
  gap: 10px;
}

#searchInput {
  height: 40px;
  width: calc(100% - 40px);
  border-radius: 20px;
  flex: 1;
  padding: 0 20px;
}

#searchBtn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-image: url("../img/magnify.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  flex-shrink: 0;
}

/* ============ loading ============ */
.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.loadingCard {
  text-align: center;
  background-color: gray;
  border-radius: 20px;
  padding: 20px;
}

/* ============ current ============ */
.current {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  white-space: nowrap;
}

.value {

}

.unit {

}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
  background-color: gray;
}

.containerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 6px;
  background-color: silver;
}

.valueHolder {
  display: flex;
  gap: 4px;
}

.currentHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  row-gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
  margin-bottom: 40px;
}

.currentHeaderMain {

}

.resolvedAddress {

}

.forecastDescription {

}

.latLonIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/web.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.currentDate {

}

.date {

}

.currentDescription {

}

.tempContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
  background-color: gray;
}

.currentTemp {
  display: flex;
  align-items: center;
  gap: 30px;
}

.tempMaxMin {
  display: flex;
  gap: 10px;
}

.tempIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/thermometer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.precipIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-snowy-rainy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.precipRainIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-rainy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.precipSnowIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-snowy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.cloudCoverIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/cloud-percent-outline.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.humidityIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/waves-arrow-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.dewIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/thermometer-water.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.visibilityIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/eye-outline.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.UVindexIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-sunny-alert.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.windIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-windy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.windDirArrow {

}

.sunriseIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-sunset-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.sunsetIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-sunset-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.currentMoonIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/moon-waning-crescent.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

/* ============ upcoming ============ */

/* ============ future ============ */

@media (max-width: 650px) {
/* ============ mobile header ============ */
header {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.mobileHeader {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-end;
}
.gearIcon {
  display: grid;
  place-items: center;
}

.settings.disabled {
  display: none;
}

/* ============ mobile nav ============ */

/* ============ mobile current ============ */

/* ============ mobile upcoming ============ */

/* ============ mobile future ============ */

}