/* ============ reset ============ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* ============ global ============ */
:root {
  --black: #121217;
  --d-gray: #30343f;
  --gray: #95979f;
  --silver: #c8c9cf;
  --white: #fafaff;
  --l-blue: #bad6ff;
  --blue: #96aeda;
  --d-blue: #273469;
  --navy: #1e2749;
}

button {
  background-color: var(--white);
    box-shadow: 2px 2px 4px var(--d-gray);
}
button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px var(--silver);
}

body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-image: linear-gradient(var(--blue), var(--d-blue));
}
body.dark {
  background-image: linear-gradient(var(--d-blue), var(--navy));
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark p {
  color: var(--white);
}
body.dark button {
  background-color: var(--gray);
}

/* ============ header ============ */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(var(--l-blue), var(--blue));
  border-bottom: 2px solid var(--d-blue);
}
body.dark header {
  background-image: linear-gradient(var(--d-blue), var(--blue));
  border-bottom: 2px solid var(--l-blue);
}

.logo {
  display: flex;
  gap: 10px;
}

.logoImg {
  width: 50px;
  height: 50px;
  background-image: url("../img/parachute.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  filter: drop-shadow(2px 2px 4px var(--d-gray));
}
body.dark .logoImg {
  filter: invert(98%);
}

.logoText {
  height: 40px;
  font-size: 40px;
  text-shadow: 2px 2px 4px var(--gray);
}

.settings {
  display: flex;
  gap: 35px;
}

.gearIcon {
  display: none;
}

#settingsBtn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-image: url("../img/cog.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 70px;
}

.settingText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 60px;
}

.settingText.mode {
  width: 70px;
}

.settingText p {
  font-size: 14px;
}

.settingToggle {
  height: 30px;
  width: 52px;
  border-radius: 15px;
  background-image: url("../img/toggle-switch-off.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.settingToggle.active {
  background-image: url("../img/toggle-switch.svg");
}

.lightMode {
  height: 25px;
  width: 25px;
  background-image: url("../img/weather-sunny.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
body.dark .lightMode {
  filter: invert(98%);
}

.darkMode {
  height: 25px;
  width: 25px;
  background-image: url("../img/weather-night.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
body.dark .darkMode {
  filter: invert(98%);
}

/* ============ nav ============ */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchForm {
  width: min(60%, 1000px);
  display: flex;
  gap: 10px;
}

#searchInput {
  height: 40px;
  width: calc(100% - 40px);
  border-radius: 20px;
  flex: 1;
  padding: 0 20px;
  background-color: var(--white);
}
body.dark #searchInput {
  background-color: var(--silver);
}

#searchBtn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-image: url("../img/magnify.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  flex-shrink: 0;
}

#locationBtn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-image: url("../img/map-marker.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  flex-shrink: 0;
  margin-left: 10px;
}

/* ============ loading ============ */
.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  overflow-x: hidden;
}

.loadingCard {
  text-align: center;
  background-color: var(--silver);
  border-radius: 20px;
  padding: 20px;
}
body.dark .loadingCard {
  background-color: var(--d-gray);
}

/* ============ current ============ */
.alertIcon {
  height: 80px;
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
}
body.dark .alertIcon {
  filter: invert(98%);
}

.current {
  width: min(100%, 900px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-radius: 20px;
  background-image: linear-gradient(var(--white), var(--silver));
  border-right: 3px solid var(--blue);
  border-bottom: 3px solid var(--blue);
  border-left: 2px solid var(--silver);
  border-top: 2px solid var(--silver);
}
body.dark .current {
  background-image: linear-gradient(var(--black), var(--d-gray));
  background-image: linear-gradient(var(--d-gray), var(--black));
  border-right: 3px solid var(--l-blue);
  border-bottom: 3px solid var(--l-blue);
  border-left: 2px solid var(--gray);
  border-top: 2px solid var(--gray);
}

.title {
  white-space: nowrap;
}

.value {

}

.unit {

}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
}

.containerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  border-radius: 6px;
}

.containerWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
}

.containerWrap.precipOpt {
  justify-content: center;
  column-gap: 0;
}

.valueHolder {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.currentHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin: 0 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--gray);
  margin-bottom: 10px;
}

.currentHeaderMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
}

.resolvedAddress {

}

.forecastDescription {

}

.latLonIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/web.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .latLonIcon{
  filter: invert(98%);
}

.currentDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
}

.date {

}

.currentDescription {

}

.currentConditionIcon {
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120px 120px;
}
body.dark .currentConditionIcon {
  filter: invert(98%);
}
.weather-snowy {
  background-image: url("../img/weather-snowy.svg");
}
.weather-rainy {
  background-image: url("../img/weather-rainy.svg");
}
.weather-fog {
  background-image: url("../img/weather-fog.svg");
}
.weather-windy {
  background-image: url("../img/weather-windy.svg");
}
.weather-cloudy {
  background-image: url("../img/weather-cloudy.svg");
}
.weather-partly-cloudy {
  background-image: url("../img/weather-partly-cloudy.svg");
}
.weather-night-partly-cloudy {
  background-image: url("../img/weather-night-partly-cloudy.svg");
}
.weather-sunny {
  background-image: url("../img/weather-sunny.svg");
}
.weather-night {
  background-image: url("../img/weather-night.svg");
}

.tempContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
}

.currentTemp {
  display: flex;
  align-items: center;
  gap: 22px;
}

.currentTempValue {
  font-size: 18px;
}

.tempMaxMin {
  display: flex;
  gap: 10px;
}

.tempIcon {
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
body.dark .tempIcon {
  filter: invert(98%);
}
.thermometer-low {
  background-image: url("../img/thermometer-low.svg");
}
.thermometer {
  background-image: url("../img/thermometer.svg");
}
.thermometer-high {
  background-image: url("../img/thermometer-high.svg");
}

.cloudCoverIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-cloudy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .cloudCoverIcon {
  filter: invert(98%);
}

.precipIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-snowy-rainy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .precipIcon {
  filter: invert(98%);
}

.precipRainIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-rainy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .precipRainIcon {
  filter: invert(98%);
}

.precipSnowIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-snowy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .precipSnowIcon {
  filter: invert(98%);
}

.humidityIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/waves-arrow-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .humidityIcon {
  filter: invert(98%);
}

.dewIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/thermometer-water.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .dewIcon {
  filter: invert(98%);
}

.visibilityIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/eye-outline.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .visibilityIcon {
  filter: invert(98%);
}

.UVindexIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-sunny-alert.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .UVindexIcon {
  filter: invert(98%);
}

.windIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-windy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .windIcon {
  filter: invert(98%);
}

.windDirArrow {
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .windDirArrow {
  filter: invert(98%);
}
.arrow-down {
  background-image: url("../img/arrow-down-thin.svg");
}
.arrow-bottom-left {
  background-image: url("../img/arrow-bottom-left-thin.svg");
}
.arrow-left {
  background-image: url("../img/arrow-left-thin.svg");
}
.arrow-top-left {
  background-image: url("../img/arrow-top-left-thin.svg");
}
.arrow-up {
  background-image: url("../img/arrow-up-thin.svg");
}
.arrow-top-right {
  background-image: url("../img/arrow-top-right-thin.svg");
}
.arrow-right {
  background-image: url("../img/arrow-right-thin.svg");
}
.arrow-bottom-right {
  background-image: url("../img/arrow-bottom-right-thin.svg");
}

.sunriseIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-sunset-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .sunriseIcon {
  filter: invert(98%);
}

.sunsetIcon {
  height: 35px;
  width: 35px;
  background-image: url("../img/weather-sunset-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .sunsetIcon {
  filter: invert(98%);
}

.currentMoonIcon {
  height: 35px;
  width: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .currentMoonIcon {
  filter: invert(98%);
}
.moon-new {
  background-image: url("../img/moon-new.svg");
}
.moon-waxing-crescent {
  background-image: url("../img/moon-waxing-crescent.svg");
}
.moon-first-quarter {
  background-image: url("../img/moon-first-quarter.svg");
}
.moon-waxing-gibbous {
  background-image: url("../img/moon-waxing-gibbous.svg");
}
.moon-full {
  background-image: url("../img/moon-full.svg");
}
.moon-waning-gibbous {
  background-image: url("../img/moon-waning-gibbous.svg");
}
.moon-last-quarter {
  background-image: url("../img/moon-last-quarter.svg");
}
.moon-waning-crescent {
  background-image: url("../img/moon-waning-crescent.svg");
}
.alert-circle-outline {
  background-image: url("../img/alert-circle-outline.svg");
}

/* ============ upcoming ============ */
.upcoming {
  max-width: min(100%, 900px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient(var(--white), var(--silver));
  border-right: 3px solid var(--blue);
  border-bottom: 3px solid var(--blue);
  border-left: 2px solid var(--silver);
  border-top: 2px solid var(--silver);
  
}
body.dark .upcoming {
  background-image: linear-gradient(var(--d-gray), var(--black));
  border-right: 3px solid var(--l-blue);
  border-bottom: 3px solid var(--l-blue);
  border-left: 2px solid var(--gray);
  border-top: 2px solid var(--gray);
}

.upcomingHeader {
  padding: 10px;
  border-bottom: 2px solid var(--gray);
}

.forecastContainer {
  max-width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.forecastCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--l-blue);
}
body.dark .forecastCard {
  background-color: var(--navy);
}

#dateBtn {
  cursor: pointer;
}

body.dark #dateBtn {
  background-color: var(--d-gray);
}

.upcomingIcon {
  height: 35px;
  width: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body.dark .upcomingIcon {
  filter: invert(98%);
}

/* ============ future ============ */
.future {
  width: min(100%, 900px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-radius: 20px;
  background-image: linear-gradient(var(--white), var(--silver));
  border-right: 3px solid var(--blue);
  border-bottom: 3px solid var(--blue);
  border-left: 2px solid var(--silver);
  border-top: 2px solid var(--silver);
}
body.dark .future {
  background-image: linear-gradient(var(--black), var(--d-gray));
  background-image: linear-gradient(var(--d-gray), var(--black));
  border-right: 3px solid var(--l-blue);
  border-bottom: 3px solid var(--l-blue);
  border-left: 2px solid var(--gray);
  border-top: 2px solid var(--gray);
}

@media (max-width: 650px) {
/* ============ mobile header ============ */
header {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.mobileHeader {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-end;
}
.gearIcon {
  display: grid;
  place-items: center;
}

.settings.disabled {
  display: none;
}

/* ============ mobile nav ============ */
.searchForm {
  width: 70%;
}

/* ============ mobile current ============ */
.container {
  width: calc(100% - 40px);
  justify-content: center;
}

.containerWrap {
  width: 100%;
}

.tempContainer {
  width: calc(100% - 40px);
  justify-content: center;
}

.title {
  font-size: .9rem;
}

.value {
  font-size: .9rem;
}

.unit {
  font-size: .8rem;
}

.currentTempValue {
  font-size: 16px;
}

.tempIcon {
  height: 40px;
  width: 40px;
  background-image: url("../img/thermometer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
/* ============ mobile upcoming ============ */

/* ============ mobile future ============ */

}